{% load static %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  {% include 'dashhead.html' %}
  <body class="app">
    <div class="app-wrapper">
      {% include 'dashboard_base.html' %}
      <div class="app-content pt-3 p-md-3 p-lg-4 container">
        <div
          class="tab-pane fade show active"
          id="general"
          role="tabpanel"
          aria-labelledby="general-tab"
        >
          <div class="row gx-3">
            <div class="mb-4 col-12 col-lg-6">
              <div
                class="app-card app-card-account shadow-sm d-flex flex-column align-items-start"
              >
                <form
                  class="px-4 w-100"
                  method="POST"
                  action=""
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <h3 class="app-page-title my-4">Ajoutez un article</h3>
                  <!--  -->
                  <div class="py-2">{{form|crispy}}</div>

                  <input
                    class="btn app-btn-primary mx-2 my-4"
                    type="submit"
                    value="Poster"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
