{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'dashhead.html' %}
  <body class="app">
    <div class="app-wrapper">
      {% include 'header.html' %}
      <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
          <h1 class="app-page-title">Abonnements</h1>
          <div class="app-card shadow-sm mb-4 border-left-decoration">
            <div class="inner">
              <div class="app-card-body p-4">
                <div class="row gx-5 gy-3">
                  <div class="col-12 col-lg-12">
                    <h3 class="section-title">Mensuel</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row g-4 mb-4">
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Gratuit :</strong> 0 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-success">Actif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> 2030-09-24
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> 2030-09-24
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Basique :</strong> 7.000 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Proffessionnel :</strong> 10.000 F CFA /Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="app-card shadow-sm mb-4 border-left-decoration">
            <div class="inner">
              <div class="app-card-body p-4">
                <div class="row gx-5 gy-3">
                  <div class="col-12 col-lg-12">
                    <h3 class="section-title">Trimestriel</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row g-4 mb-4">
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Gratuit :</strong> 0 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> 2030-09-24
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> 2030-09-24
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Basique :</strong> 18.000 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Proffessionnel :</strong> 25.000 F CFA /Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="app-card shadow-sm mb-4 border-left-decoration">
            <div class="inner">
              <div class="app-card-body p-4">
                <div class="row gx-5 gy-3">
                  <div class="col-12 col-lg-12">
                    <h3 class="section-title">Semestriel</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row g-4 mb-4">
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Gratuit :</strong> 0 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> 2030-09-24
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> 2030-09-24
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Basique :</strong> 30.000 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Proffessionnel :</strong> 45.000 F CFA /Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="app-card shadow-sm mb-4 border-left-decoration">
            <div class="inner">
              <div class="app-card-body p-4">
                <div class="row gx-5 gy-3">
                  <div class="col-12 col-lg-12">
                    <h3 class="section-title">Annuel</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row g-4 mb-4">
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Gratuit :</strong> 0 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> 2030-09-24
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> 2030-09-24
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Basique :</strong> 55.000 F CFA / Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row g-4">
                <div class="col-12">
                  <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">
                      <div class="mb-2">
                        <strong>Proffessionnel :</strong> 80.000 F CFA /Mois
                      </div>
                      <div class="mb-2">
                        <strong>Statut :</strong>
                        <span class="badge bg-warning">Inactif</span>
                      </div>
                      <div class="mb-2">
                        <strong>Souscription :</strong> xxxx-xx-xx
                      </div>
                      <div class="mb-2">
                        <strong>Expiration :</strong> xxxx-xx-xx
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-auto">
                          <a class="btn app-btn-primary" href="#"
                            >voir les détails</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//app-content-->
    </div>
    <!--//app-wrapper-->
  </body>
</html>
