{% extends 'main.html' %} {% load static %} {% block content %}
<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
  <div
    class="row g-0 align-items-center flex-column-reverse flex-md-row"
    id="bg-color"
  >
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn my-5">Contact Us</h1>
      <nav aria-label="breadcrumb animated fadeIn">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Accueil</a>
          </li>
          <li class="breadcrumb-item text-body active" aria-current="page">
            Contact
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Header End -->
<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Contactez Nous</h1>
      <p>
        Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore
        lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero
        dolor duo.
      </p>
    </div>
    <div class="row g-4">
      <div class="col-12">
        <div class="row gy-4">
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="bg-light rounded p-3">
              <div
                class="d-flex align-items-center bg-white rounded p-3"
                style="border: 1px dashed rgba(0, 185, 142, 0.3)"
              >
                <div class="icon me-3" style="width: 45px; height: 45px">
                  <i class="fa fa-map-marker-alt text-primary"></i>
                </div>
                <span>Totsivi, Lome, TOGO</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
            <div class="bg-light rounded p-3">
              <div
                class="d-flex align-items-center bg-white rounded p-3"
                style="border: 1px dashed rgba(0, 185, 142, 0.3)"
              >
                <div class="icon me-3" style="width: 45px; height: 45px">
                  <i class="fa fa-envelope-open text-primary"></i>
                </div>
                <a href="mailto:info@it-innovate.com">info@findschola.com</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-light rounded p-3">
              <div
                class="d-flex align-items-center bg-white rounded p-3"
                style="border: 1px dashed rgba(0, 185, 142, 0.3)"
              >
                <div class="icon me-3" style="width: 45px; height: 45px">
                  <i class="fab fa-whatsapp text-primary"></i>
                </div>
                <a href="https://wa.me/+22870711313" target="_blank"
                  >+22870711313</a
                >
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
            <div class="bg-light rounded p-3">
              <div
                class="d-flex align-items-center bg-white rounded p-3"
                style="border: 1px dashed rgba(0, 185, 142, 0.3)"
              >
                <div class="icon me-3" style="width: 45px; height: 45px">
                  <i class="fa fa-phone-alt text-primary"></i>
                </div>
                <a href="tel:+22870711313">+22870711313</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 animated fadeIn">
        <img
          class="img-fluid"
          src="{% static 'img/contact-us.webp' %}"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <div class="wow fadeInUp" data-wow-delay="0.5s">
          <form method="POST" action="">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  {{form.name}}

                  <label for="name">Votre Nom</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  {{form.email}}
                  <label for="email">Votre Email</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  {{form.subject}}

                  <label for="subject">Sujet</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  {{form.message}}

                  <label for="message">Message</label>
                </div>
              </div>
              <input
                class="btn btn-primary w-100 py-3 col-12"
                type="submit"
                value="Envoyer"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}
