{% load static %}
<!-- pub Start -->
<div class="container-xxl py-5 bg-light">
  <div class="container py-5 my-5">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p><span class="text-primary me-2">#</span>Welcome To Findschola</p>
        <h1 class="display-5 mb-4">
          Why You Should Choose <span class="text-primary">Findschola</span>
        </h1>
        <p class="mb-4">
          Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet
          est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy
          clita sit at, sed sit sanctus dolor eos.
        </p>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>Free Car Parking
        </h5>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>Natural
          Environment
        </h5>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>Professional
          Guide & Security
        </h5>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>World Best
          Animals
        </h5>
        <h5 class="mb-3">
          <i class="far fa-check-circle text-primary me-3"></i>World Best
          Animals
        </h5>
        <a class="btn btn-primary py-3 px-5 mt-3" href="">En savoir plus</a>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="img-border">
          <img class="img-fluid" src="{% static 'img/img-3.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- pub End -->
