{% load static %}
<div
  class="text-center mx-auto mb-2 data-wow-delay=0.1s"
  style="max-width: 600px"
>
  <h2 class="mb-5">
    Images {% if is_manager %}
    <button
      type="button"
      class="btn btn-dark"
      data-toggle="modal"
      data-target="#edulevels_modal"
    >
      <i class="fa fa-pen"></i>
    </button>
    {% endif %}
  </h2>
</div>
<div class="row g-4">
  <div class="col-lg-12 col-md-12" data-wow-delay="0.1s">
    <div class="row g-4">
      <div class="col-lg-4 col-md-4 col-12">
        <a class="animal-item">
          <div class="position-relative">
            <img class="img-fluid" src="img/img-3.jpg" alt="" />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
