{% load static %}

<div class="container-xxl py-5">
  <div class="row g-4">
    {% for report in reports %}

    <div class="col-md-6 col-lg-4" data-wow-delay="0.1s">
      <div class="service-item">
        <div class="overflow-hidden">
          <img class="img-fluid" src="img/blog.jpg" alt="" />
        </div>
        <div class="p-4 text-center border border-5 border-light border-top-0">
          <h4 class="mb-3">{{report.title}}</h4>
          {% if report.subtitle %}
          <h6 class="mb-2 text-gray">{{report.subtitle}}</h6>
          {% endif %}
          <p>{{report.content}}</p>
          <a class="fw-medium" href=""
            >Read More<i class="fa fa-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
