{% load static %}
<div class="container-xxl py-5 bg-dark">
  <div class="container my-5 py-5">
    <h1 class="mb-3 text-white">Les retours d'expérience</h1>
    <p class="text-white-50">
      Eirmod sed ipsum dolor sit rebum labore magna erat.
    </p>

    <div
      class="owl-carousel testimonial-carousel wow fadeInUp my-2"
      data-wow-delay="0.1s"
    >
      <div class="testimonial-item text-center">
        <img
          class="img-fluid rounded-circle p-2 mx-auto mb-2"
          src="{% static 'img/testimonial-1.jpg' %}"
          style="width: 100px; height: 100px"
        />
        <div class="testimonial-text rounded text-center p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1 text-light">Patient Name</h5>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="img-fluid rounded-circle borde p-2 mx-auto mb-2"
          src="{% static 'img/testimonial-1.jpg' %}"
          style="width: 100px; height: 100px"
        />
        <div class="testimonial-text rounded text-center p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1 text-light">Patient Name</h5>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="img-fluid rounded-circle p-2 mx-auto mb-2"
          src="{% static 'img/testimonial-1.jpg' %}"
          style="width: 100px; height: 100px"
        />
        <div class="testimonial-text rounded text-center p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1 text-light">Patient Name</h5>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="img-fluid rounded-circle p-2 mx-auto mb-2"
          src="{% static 'img/testimonial-1.jpg' %}"
          style="width: 100px; height: 100px"
        />
        <div class="testimonial-text rounded text-center p-4">
          <p>
            Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo
            duo labore sed sed. Magna ut diam sit et amet stet eos sed clita
            erat magna elitr erat sit sit erat at rebum justo sea clita.
          </p>
          <h5 class="mb-1 text-light">Patient Name</h5>
        </div>
      </div>
    </div>
  </div>
</div>
