{% extends 'main.html' %} {% load static %}
<!--  -->
{% load crispy_forms_tags %}{% block content %}

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
  <div class="row g-0 align-items-center mx-auto flex-md-row" id="bg-color">
    {% if user.role == 'manager' %}

    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn my-5">
        Rendez votre
        <span class="text-secondary"> Institut plus visible</span> aux parents
        et elèves.
      </h1>
      <p class="animated fadeIn mb-4 pb-2">
        Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd
        rebum ipsum et diam justo clita et kasd rebum sea elitr.
      </p>
      {% if has_school %}
      <a
        href="{% url 'my_school' %}"
        class="btn btn-dark py-3 px-5 me-3 animated fadeIn"
        >Voir mon Ecole</a
      >
      <a
        href="{% url 'edit_school' %}"
        class="btn btn-secondary py-3 px-5 me-3 animated fadeIn"
        >Modifier mon Ecole</a
      >
      {% else %}
      <a
        href="{% url 'create_school' %}"
        class="btn btn-secondary py-3 px-5 me-3 animated fadeIn"
        >Ajouter mon Ecole</a
      >
      {% endif %}
      <!--  -->
    </div>

    {% else %}
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn my-5">
        Trouvez <span class="text-primary">l'institut idéal</span> Pour vos
        études ou celles de vos enfants
      </h1>
      <p class="animated fadeIn mb-4 pb-2">
        Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd
        rebum ipsum et diam justo clita et kasd rebum sea elitr.
      </p>
      <a
        href="{% url 'schools' %}"
        class="btn btn-primary py-3 px-5 me-3 animated fadeIn"
        >Commencez vos recherches</a
      >
    </div>
    {% endif %}
    <div class="col-md-6 animated fadeIn">
      <div class="owl-carousel header-carousel">
        <div class="owl-carousel-item">
          <img
            class="img-fluid"
            src="{% static 'img/carousel-1.jpg' %}"
            alt=""
          />
        </div>
        <div class="owl-carousel-item">
          <img
            class="img-fluid"
            src="{% static 'img/carousel-2.jpg' %}"
            alt=""
          />
        </div>
        <div class="owl-carousel-item">
          <img class="img-fluid" src="{% static 'img/wcus.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Category Start -->
{% include 'components/sch_categories.html' %}
<!-- Category End -->

<!-- Schools List Start -->
{% include 'components/sch_list.html' %}
<!-- Schools List End -->

<!-- Call to Action Start -->
{% include 'components/cta.html' %}
<!-- Call to Action End -->

<!-- advert start -->
{% include 'components/advert.html' %}
<!-- advert end -->

<!-- Testimonial Start -->
{% include 'components/testimonial.html' %}
<!-- Testimonial End -->

<!-- Column Start -->
{% include 'components/column.html' %}
<!-- Column End -->

{% endblock %}
