{% extends 'main.html' %} {% load static %} {% block content %}
<!-- Header Start -->
<div class="container-fluid header bg-white p-0.5">
  <div
    class="row g-0 align-items-center flex-column-reverse flex-md-row"
    id="bg-color"
  >
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn my-5">{{school.name|title}}</h1>
      <nav aria-label="breadcrumb animated fadeIn">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item">
            <a href="{% url 'schools' %}">Etablissements</a>
          </li>
          <li class="breadcrumb-item text-body active" aria-current="page">
            {{school.name|title}}
          </li>
        </ol>
      </nav>
      {% if is_manager %}
      <a
        href="{% url 'edit_school' %}"
        class="btn btn-primary py-3 px-5 me-3 animated fadeIn"
        >Modifier mon Ecole <i class="fa fa-pen mx-2"></i
      ></a>

      {% endif %}
    </div>
    <div class="col-md-6 animated fadeIn">
      <img
        class="img-fluid"
        src="{% if school.banner %} 
                    {{ school.banner.url }} 
                {% else %} 
                    {% static 'img/school-details.jpg' %} 
                {% endif %}"
        alt="School banner"
      />
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Modal Start-->
{% include 'components/modals.html' %}
<!-- Modal End-->

<!-- School Details Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="col-lg-12">
      <div class="d-flex align-items-center mb-5 col-10">
        <img
          class="flex-shrink-0 img-fluid border-none rounded"
          src="{% if school.crest %} 
                    {{ school.crest.url }} 
                {% else %} 
                    {% static 'img/logo.png' %} 
                {% endif %} "
          alt="school crest"
          style="width: 80px; height: 80px"
        />
        <div class="text-start ps-4">
          <h3 class="mb-3">
            {{school.name|title}} {% if is_manager %}
            <button
              type="button"
              class="btn btn-dark"
              data-toggle="modal"
              data-target="#info_modal"
            >
              <i class="fa fa-pen"></i>
            </button>
            {% endif %}
          </h3>

          <span class="text-truncate me-3"
            ><i class="fa fa-bullhorn text-primary me-2"></i>
            <em> "{{school.moto|title}}" </em>
          </span>
          <span class="text-truncate me-3"
            ><i class="fa fa-school text-primary me-2"></i>Fondée en
            {{school.year_founded}}</span
          >
          <span class="text-truncate me-3"
            ><i class="fa fa-money-bill-alt text-primary me-2"></i>Frais
            d'inscription {{school.inscription}}</span
          >
          {% if school.tel != None %}
          <a href="https://wa.me/{{school.tel}}" target="_blank">
            <span class="text-truncate me-3"
              ><i class="fab fa-whatsapp text-primary me-2"></i>Contactez
              nous</span
            >
          </a>
          <span class="text-truncate me-3">
            <a href="tel:{{school.tel}}"
              ><i class="fa fa-phone-alt text-primary me-2"></i
              >{{school.tel}}</a
            >
          </span>
          {% endif %} {% if school.website != None %}
          <span class="text-truncate me-3">
            <a href="https://www.{{school.website}}" target="_blank">
              <i class="fa fa-globe text-primary me-2"></i
              >www.{{school.website}}
            </a>
          </span>
          {% endif %}
        </div>
      </div>
      <h3 class="my-3">Niveaux d'Education</h3>
      <ul
        class="mleft-4 nav nav-pills d-inline-flex justify-content-start mb-5"
      >
        {% for level in school.levels.all %}
        <li class="bg-primary text-white rounded py-2 px-3 nav-item me-2">
          {{level.name|title}}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
      <!-- tab navigation -->
      <ul
        class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5"
      >
        <li class="nav-item">
          <a
            class="d-flex align-items-center text-start mx-3 ms-0 pb-3 mt-2 active"
            data-bs-toggle="pill"
            href="#tab-1"
          >
            <h6 class="mt-n1 mb-0">Générales</h6>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex align-items-center text-start mx-3 pb-3 mt-2"
            data-bs-toggle="pill"
            href="#tab-2"
          >
            <h6 class="mt-n1 mb-0">Académiques</h6>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex align-items-center text-start mx-3 pb-3 mt-2"
            data-bs-toggle="pill"
            href="#tab-3"
          >
            <h6 class="mt-n1 mb-0">Tuteurs</h6>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex align-items-center text-start mx-3 pb-3 mt-2"
            data-bs-toggle="pill"
            href="#tab-4"
          >
            <h6 class="mt-n1 mb-0">Structures</h6>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex align-items-center text-start mx-3 pb-3 mt-2"
            data-bs-toggle="pill"
            href="#tab-5"
          >
            <h6 class="mt-n1 mb-0">Nouvelles</h6>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="d-flex align-items-center text-start mx-3 me-0 pb-3 mt-2"
            data-bs-toggle="pill"
            href="#tab-6"
          >
            <h6 class="mt-n1 mb-0">Images</h6>
          </a>
        </li>
      </ul>
      <!-- tabs -->
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          {% include 'components/sch_gen_info.html' %}
        </div>
        <div id="tab-2" class="tab-pane fade show p-0">
          {% include 'components/sch_academia.html' %}
        </div>
        <div id="tab-3" class="tab-pane fade show p-0">
          {% include 'components/sch_teachers.html' %}
        </div>

        <div id="tab-4" class="tab-pane fade show p-0">
          {% include 'components/sch_structures.html' %}
        </div>
        <div id="tab-5" class="tab-pane fade show p-0">
          {% include 'components/sch_articles.html' %}
        </div>
        <div id="tab-6" class="tab-pane fade show p-0">
          {% include 'components/sch_images.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- School Details End -->

{% endblock %}
