{% extends 'main.html' %} {% load static %}
<!--  -->
{% load crispy_forms_tags %} {% block content %}
<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
  <div
    class="row g-0 align-items-center flex-column-reverse flex-md-row"
    id="bg-color"
  >
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn mb-4">Ecoles</h1>
      <nav aria-label="breadcrumb animated fadeIn">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item text-body active" aria-current="page">
            Liste des écoles
          </li>
        </ol>
      </nav>
      <p class="animated fadeIn mb-4 pb-2">
        Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd
        rebum ipsum et diam justo clita et kasd rebum sea elitr.
      </p>
      {% if user.role == 'gestionaire' %} {% if has_school %}
      <a
        href="{% url 'my_school' %}"
        class="btn btn-primary py-3 px-5 me-3 animated fadeIn"
        >Voir mon Ecole</a
      >
      <a
        href="{% url 'sch_profile' %}"
        class="btn btn-secondary py-3 px-5 me-3 animated fadeIn"
        >Modifier mon Ecole</a
      >
      {% else %}
      <a
        href="{% url 'create_school' %}"
        class="btn btn-secondary py-3 px-5 me-3 animated fadeIn"
        >Ajouter mon Ecole</a
      >
      {% endif %} {% endif %}
    </div>
    <div class="col-md-6 animated fadeIn">
      <img class="img-fluid" src=" {% static 'img/ecoles.jpg' %}" alt="" />
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Search Start -->
<div
  class="container-fluid bg-primary mb-5 wow fadeIn"
  data-wow-delay="0.1s"
  style="padding: 35px"
>
  <form action="{% url 'schools' %}" method="get" class="container">
    <div class="row g-2">
      <div class="col-md-9">
        <input
          type="text"
          name="query"
          class="border-0 p-3 rounded col-md-12"
          placeholder="Etablissement / Adresse / Quartier/ Niveau d'etude"
        />
      </div>
      <div class="col-md-3">
        <button class="btn btn-dark border-0 w-100 py-3">Valider</button>
      </div>
    </div>
  </form>
</div>
<!-- Search End -->

<!-- School List Start -->
<div class="container-xxl py-3">
  <div class="container">
    <div class="row g-0 gx-5 align-items-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
        <li class="nav-item me-2">
          <a class="btn btn-outline-primary active" href="{% url 'schools' %}"
            >Tous</a
          >
        </li>
        {% for level in edu_levels %}
        <li class="nav-item me-2">
          <a
            class="btn btn-outline-secondary"
            href="{% url 'schools' %}?query={{level.name}}"
            >{{level.name|title}}s</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="fade show p-0 active">
      <div class="row g-4">
        {% for school in schools %}
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="property-item rounded overflow-hidden">
            <div class="position-relative overflow-hidden">
              <a href="{% url 'school' school.id %}"
                ><img
                  class="img"
                  height="300"
                  width="420"
                  src="{% if school.thumbnail %} 
                        {{ school.thumbnail.url }} 
                        {% else %} 
                          {% static 'img/etb-college-lycee.jpg' %} 
                          {% endif %}"
                  alt="School Thumbnail"
              /></a>
              <div
                class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 px-4 pt-2"
              >
                <ul>
                  {% for level in school.levels.all %}
                  <!--  -->
                  <li>{{level.name|title}}</li>

                  <!--  -->
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="p-4 pb-0">
              <a class="d-block h5 mb-2" href="">{{school.name|title}}</a>
              <p>
                <i class="fa fa-map-marker-alt text-primary me-2"></i
                >{{school.address|title}}
              </p>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"
                ><i class="fa fa-user text-primary me-2"></i
                >{{school.teachers|title}} Proffesseurs</small
              >
              <small class="flex-fill text-center border-end py-2"
                ><i class="fa fa-school text-primary me-2"></i
                >{{school.faculties|title}} Filières</small
              >
              <small class="flex-fill text-center py-2"
                ><i class="fa fa-bookmark text-primary me-2"></i
                >{{school.curriculums|title}} Cursus</small
              >
            </div>
          </div>
          <!--  -->
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- School List End -->

{% endblock %}
